*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url(https://cdn5.vectorstock.com/i/1000x1000/25/39/abstract-background-vector-2482539.jpg);
	background-size:1536px 848px;
	background-repeat: no-repeat;
}

.container{
	    height: 41px;
    width: 644px;
    position: relative;
    left: 836px;
    top: 14px;
    padding-top: 12px;
    
}


.container .col ul{
	display: flex;
	flex-direction: row;

}

.container .col ul li{
	list-style: none;
    
    font-size: 30px;
    position: relative;
    height: auto;
    width: auto;
    margin: 0 20px;

}
.container .col ul li::after{
	content: "";
	height: 4px;
	width: 0;
	background:linear-gradient(blueviolet,darkred) ;
	position: absolute;
	left: 0;
	bottom: -7px;
	transition: 0.5s;
}
.container .col ul li:hover::after{
	width: 100%;
}

.container .col ul li a{
	text-decoration: none;
	color: black;
}
.content{
	height: 261px;
    width: 1212px;
    position: absolute;
    left: 173px;
    top: 200px;
    justify-content: center;
    font-size: 24px;
    text-align: center;
}
button a{
	text-decoration: none;
	color: black;
}

button{
	height: 53px;
    width: 300px;
    position: absolute;
    top: 460px;
    left: 633px;
    font-size: 27px;
    background: transparent;
        border-radius: 23px;
}
button:hover{
	background: #329BB0;
	transition: 1s;
	color: white;
	

}
.image{
	    height: 124px;
    width: 293px;
    position: absolute;
    left: 31px;
    top: 15px;
}